.presentation {
    font-size: 1.5rem;
    background-color: var(--joy-palette-background-surface);
}

.presentation .token-line.token-line.token-line {
    font-size: 1.5rem;
}

.presentation .language-tsx.language-tsx.language-tsx {
    width: auto;
    background-color: var(--joy-palette-background-level2);
    border-radius: var(--joy-radius-sm);
}
